# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Editor folders
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Environment variable files
.env