# Python cache
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

# Virtual Environments
env/
.env
.venv/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Editor folders
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
